<nav class="navbar navbar-dark bg-dark" style="margin-bottom: 150px;">

</nav>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>parent conponent </h4>
        </div>
        <div class="card-body">
            pass data: <input type="text" class="form-control" [(ngModel)]="enterName">
            <input type="button" value="Send" (click)="transformdata()" class="btn btn-warning">
            <h1>{{maxvalues}}</h1>
            name:{{value}}
            <app-child  (senddata)="new($event)"></app-child>
            
        </div>
    </div>
</div>




